body{
background-color: black;
color: white;
display: flex;
justify-content: center;
align-items: center;
}
main{
text-align: center;
max-width: 90%;
}
button{
    background-color: aqua;
color: black;
padding: 20px;
}
.img01{
  width: 80%;
}
.passo{
display: none;
}
.passo.ativo{
    display: block;
}
